<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR Order</title>
    <style>
        :root {
            --border-color: #e5e7eb;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, serif;
        }
    </style>
</head>
<body>
<div style="padding: 8px;">
    {% include 'components/base_header.html' %}

    <div style="margin-top: 16px; font-size: 14px; font-weight: bolder">
        <div>№ {{ register_number }}</div>
        <div>{{ register_date }}</div>&nbsp;&nbsp;
    </div>

    <div style="text-align: center; margin-top: 20px; font-size: 14px; font-weight: bolder">
        BUYRUQ
    </div>

    <div style="margin: 32px 0 48px 0; text-align: justify!important;">
        {{ content|safe }}
    </div>

    {{ signers|safe }}

    <!-- If negotiators -->
    <div style="font-size: 14px; padding: 0 24px; margin-top: 16px; font-style: italic">Kelishuvchilar:</div>

    <!-- Loop negotiators -->
    {{ negotiators|safe }}
    <!-- /Loop negotiators -->
    <!-- /If negotiators -->

    <div style="padding: 0 24px; margin-top: 36px;">
        <div style="margin-bottom: 4px; font-size: 12px;"><span style="font-weight: bolder">Ijrochi: </span>
            {{ executor }}
        </div>
        <div style="margin-bottom: 4px; font-size: 12px"><span
                style="font-weight: bolder">Tel: </span> {{ phone }}
        </div>
        {#        <div style="font-size: 12px">#}
        {#            <span style="font-weight: bolder">Kiritildi:</span> {{ created_date }},#}
        {#            <span style="font-weight: bolder">Imzolandi:</span> {{ signed_date }}#}
        {#        </div>#}
    </div>
</div>
</body>
</html>
