<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Power of Attorney</title>
    <style>
        :root {
            --border-color: #e5e7eb;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, serif;
        }
    </style>
</head>
<body>
<div style="padding: 8px; line-height: 20px;">
    <div style="margin-bottom: 16px; font-weight: bolder; font-size: 12px">
        SALOM.SQB.UZ tizimi orqali ERI bilan tasdiqlangan. Hujjat kodi: {{ check_id }}
    </div>

    <table>
        <tr>
            <td>
                <img
                        src="data:image/png;base64,{{ company_logo }}"
                        alt="Logo"
                        style="width: {{ logo_size }};"
                />
            </td>
            <td style="vertical-align: top; align-content: start; text-align: start">
                <div style="margin-left: 8px">
                    <div style="font-size: 9px; font-weight: bold; margin-bottom: 2px">
                        {{ company_name_uz }}
                    </div>
                    <div style="font-size: 9px; font-weight: bold">
                        {{ company_name_ru }}
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div style="text-align: center; margin-top: 32px; font-size: 14px; font-weight: bolder">
        ISHONCHNOMA
    </div>

    <div style="text-align: justify; text-indent: 32px; font-size: 14px; margin: 16px 0">
        <div style="margin-top: 16px">
            Mazkur ishonchnoma orqali Toshkent shahri, Shahrisabz ko‘chasi, 3-uyda joylashgan “O‘zbekiston sanoat-qurilish
            banki” aksiyadorlik tijorat banki (“O‘zsanoatqurilishbank” АTB, keyingi o‘rinlarda - Bank) nomidan uning Ustavi
            asosida ish yurituvchi
            {{ curator_position }} {{ curator_name }}
            {{ employee_position }} {{ employee_name }}ga
            O‘zbekiston Respublikasi Fuqarolik kodeksining 134, 135, 138, 139, 144-moddalariga asosan quyidagi vakolatlarni
            beradi:
        </div>

        <div>
            Bank nomidan kredit, lizing, kafillik, omonat, garov va boshqa shartnomalarini bank manfaatlarini ko‘zlagan
            holda imzolash;
        </div>

        <div>
            Bank faoliyatidan kelib chiqadigan masalalar yuzasidan huquqni muhofaza qiluvchi organlarga tegishli tartibda
            ariza, shikoyat, takliflar hamda amaliy yordam ko‘rsatish to‘g’risidagi murojaatlarni imzolash;
        </div>

        <div>
            ariza, da’vo ariza, shikoyat va iltimosnomani imzolash, sud hujjati ustidan shikoyat qilish (apellyatsiya,
            kassatsiya, taftish va boshqa shikoyatlarni imzolash), sud hujjatini yangi ochilgan holatlar bo‘yicha qayta
            ko‘rib chiqish to‘g‘risidagi arizani imzolash, ishni hakamlik sudiga topshirish, da’vo (arz qilingan talab)
            predmetini yoki asosini o‘zgartirish, da’vo talablari miqdorini ko‘paytirish yoki kamaytirish, ijro hujjatlarini
            undiruvga taqdim etish, sud hujjatining majburiy ijro etilishini talab qilish, undirilgan mol-mulkni yoki pulni
            olish, davlat ijrochisining xatti-harakatlari (harakat yoki harakatsizligi) ustidan shikoyat berish va uni rad
            qilish.
        </div>

       {% include "poa/poa_validity_block.html" %}
    </div>

    {{ signers|safe }}

    <div style="padding: 0 24px; margin-top: 36px;">
        <div style="margin-bottom: 4px; font-size: 12px;"><span style="font-weight: bolder">Ijrochi: </span>
            {{ executor }}
        </div>
        <div style="margin-bottom: 4px; font-size: 12px"><span
                style="font-weight: bolder">Tel: </span> {{ phone }}
        </div>
        <div style="font-size: 12px">
            <span style="font-weight: bolder">Kiritildi:</span> {{ created_date }},
            <span style="font-weight: bolder">Imzolandi:</span> {{ signed_date }}
        </div>
    </div>
</div>
</body>
</html>
